{% set classes = [
  'box',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if paragraph.field_os2web_box_heading.value %}
        {# Begin - heading #}
        <div class="box__heading">
          {{ content.field_os2web_box_heading }}
        </div>
        {# End - heading #}
      {% endif %}

      {% if paragraph.field_os2web_box_heading.value %}
        {# Begin - body #}
        <div class="box__body">
          {{ content.field_os2web_box_body }}
        </div>
        {# End - body #}
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
